---
layout: default
permalink: /albums/
title: Albums
---

<style media="screen">
  .album {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>

<div id = "wrapper">

  <div id="main">
    {% for album in site.albums %}
    <article class="thumb" style="border: 5px solid white;float:left;">
      <a href="{{ album.url }}" class = "album" style = 'background-image: url("{{ site.baseurl }}/images/fulls/{{ album.album_folder_name }}/{{ album.thumb_path }}")'>
      </a>
        <h2 style= "font-weight: bold;">{{ album.title }}</h2>
        <!--<p></p>-->
    </article>
    {% endfor %}
  </div>

</div>


<!-- Wrapper




<div id="wrapper">
    <!-- Main
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb" style="border: 5px solid white;float:left;">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>
        </article>
        {% endif %}
        {% endfor %}
    </div>
</div> -->
