---
layout: default
---
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb" style="border: 5px solid white;float:left;">
            <a href="{{ image.path }}" class="image">
                <img src="{{ image.path }}" alt=""
                     data-name="{{ image.name }}"/>
            </a>
            <!--<h2></h2>
            <!--<p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>
