<!-- Scripts -->

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.poptrox.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<script src="{{ site.baseurl }}/assets/js/exif.js"></script>
<!--[if lte IE 8]>
<script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>


<!-- Flexslider Scripts
=================================================-->
	<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
	<!-- Initialisation Code  -->
	<script src="/assets/js/app.js"></script>

<!-- Footer -->
<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>{{ site.footer.name }}</h2>
                <p>{{ site.footer.bio }}</p>
                <p>{{ site.footer.github }}</p>
            </section>
            <!--<section>
                <h2>Sponsor</h2>
                <div class="ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:block; text-align:center;"
                         data-ad-layout="in-article"
                         data-ad-format="fluid"
                         data-ad-client="ca-pub-1702577941194110"
                         data-ad-slot="9823584598"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </section>-->
            <section>
                <h2>Follow me on ...</h2>
                <ul class="icons">
                    {% if site.social_urls.facebook %}
                        <li>
                            <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                <span class="label">Facebook</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if site.social_urls.twitter %}
                        <li>
                            <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                <span class="label">Twitter</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if site.social_urls.instagram %}
                        <li>
                            <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                <span class="label">Instagram</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if site.social_urls.dribbble %}
                        <li>
                            <a href="{{ site.social_urls.dribbble }}" class="icon fa-dribbble">
                                <span class="label">Dribbble</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if site.social_urls.github %}
                        <li>
                            <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if site.social_urls.linkedin %}
                        <li>
                            <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                <span class="label">LinkedIn</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </section>
            <p class="copyright">
                &copy; {{ site.author }}. Design: {{ site.web_design }}
            </p>
        </div>
        <div>
            <section>
                <h2>Get in touch</h2>
                <form method="POST" action="https://formsubmit.co/evanjohnmoss@gmail.com">
                    <div class="field half first">
                        <input type="text" name="name" id="name" placeholder="Name" required/>
                    </div>
                    <div class="field half">
                        <input type="email" name="email" id="email" placeholder="Email" required/>
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="special"/></li>
                        <li><input type="reset" value="Reset"/></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>
